<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @drop.title %>
</p>

<%= link_to 'View File', @drop.file %> <br>
<%= link_to 'Download', @drop.file, download: '' %>

<p>
  <strong>Description:</strong>
  <%= @drop.description %>
</p>

<%= link_to 'Edit', edit_drop_path(@drop) %> |
<%= link_to 'Back', drops_path %>
